.product-cart-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-cart-image {
    width: 80px;
}

.product-cart-details {
    width: 25%;
    padding-left: 25px;
}

.product-cart-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 220px;
}

.delete-button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 2px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.product-name, .product-price{
    font-weight: bold;
}